$white: #fff
$black: #131313
$main: #E3B873

=futuraDemi
  font-family: FuturaDemiC, sans-serif
  font-weight: normal
=book
  font-family: FuturaBookC, sans-serif
  font-weight: normal
=futuraDemiItalic
  font-family: FuturaDemiC, sans-serif
  font-weight: normal
  font-style: italic
=yeseva
  font-family: 'Yeseva One'
  font-weight: normal
*, *:after, *:before
  box-sizing: border-box
img
  max-width: 100%

body
  +futuraDemi
  font-size: 15px
.container
  padding: 0 calc( (100% - 1240px) / 2 )
  @media ( max-width: 1430px )
    padding: 0 calc( (100% - 1040px) / 2 )
  @media ( max-width: 1200px )
    padding: 0 calc( (100% - 832px) / 2 )
  @media ( max-width: 992px )
    padding: 0 calc( (100% - 688px) / 2 )
  @media ( max-width: 768px )
    padding: 0 calc( (100% - 539px) / 2 )
  @media ( max-width: 575px )
    padding: 0 18px
.button
  background: $main
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2)
  border-radius: 2px
  border: 1px solid $main
  padding: 11px 21px 11px 21px
  text-transform: uppercase
  border: none
  color: $white
  font-size: 13px
  line-height: 15px
  position: relative
  overflow: hidden
  z-index: 0
  &:hover
    @media ( min-width: 993px )
      cursor: pointer
      // background: none
      &:after
        height: 330%;
        opacity: 1
  &:after
    content: '';
    position: absolute;
    display: block
    z-index: -1;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background-color: darken($main, 20%);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-45deg);
  &_more
    padding: 16px 30px 18px 31px;
    border: 1px solid $main
    &:hover
      @media ( min-width: 993px )
        border: 1px solid darken($main, 20%)
  &_border
    padding: 16px 43px 18px 41px
    border: 1px solid #FFFFFF;
    background: none
    &:hover
      @media ( min-width: 993px )
        border: 1px solid #FFFFFF;
        color: $main
        &:after
          background-color: $white
.section
  &__title
    +yeseva
    font-size: 27px
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $main
.block
  display: block
.maincolor-text
  color: $main

