$white: #fff
$black: #131313
$main: #E3B873
$grey: rgba(54, 54, 54, 0.5)
$dark-text: #363636

=futuraDemi
  font-family: FuturaDemiC, sans-serif
  font-weight: normal
=book
  font-family: FuturaBookC, sans-serif
  font-weight: normal
=futuraDemiItalic
  font-family: FuturaDemiC, sans-serif
  font-weight: normal
  font-style: italic
=yeseva
  font-family: 'Yeseva One'
  font-weight: normal
*, *:after, *:before
  box-sizing: border-box
img
  max-width: 100%

body
  +futuraDemi
  font-size: 15px
.container
  padding: 0 calc( (100% - 1240px) / 2 )
  @media ( max-width: 1430px )
    padding: 0 calc( (100% - 1040px) / 2 )
  @media ( max-width: 1200px )
    padding: 0 calc( (100% - 832px) / 2 )
  @media ( max-width: 992px )
    padding: 0 calc( (100% - 688px) / 2 )
  @media ( max-width: 768px )
    padding: 0 calc( (100% - 539px) / 2 )
  @media ( max-width: 575px )
    padding: 0 18px
.button
  background: $main
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2)
  border-radius: 2px
  border: 1px solid $main
  padding: 11px 21px 11px 21px
  text-transform: uppercase
  border: none
  color: $white
  font-size: 13px
  line-height: 15px
  position: relative
  overflow: hidden
  z-index: 0
  &:hover
    @media ( min-width: 993px )
      cursor: pointer
      // background: none
      &:after
        height: 380%;
        opacity: 1
  &:after
    content: '';
    position: absolute;
    display: block
    z-index: -1;
    transition: all 0.3s;
    width: 100%;
    height: 0;
    top: 50%;
    left: 50%;
    background-color: darken($main, 20%);
    opacity: 0;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
  &_more
    padding: 16px 30px 18px 31px;
    border: 1px solid $main
    &:hover
      @media ( min-width: 993px )
        border: 1px solid darken($main, 20%)
  &_border
    padding: 16px 43px 18px 41px
    border: 1px solid #FFFFFF;
    background: none
    &:hover
      @media ( min-width: 993px )
        border: 1px solid #FFFFFF;
        color: $main
        &:after
          background-color: $white

.label
  +book
  font-size: 15px
  position: relative
  max-width: 231px
  @media ( max-width: 992px )
    flex-basis: 30%
  @media ( max-width: 575px )
    flex-basis: 100%
    margin-bottom: 38px
    max-width: 340px
  span
    color: $grey
    position: absolute
    top: 0
    left: 0
.input
  border: none
  border-bottom: 1px solid $grey
  width: 231px
  height: 47px
  padding-top: 16px
  color: $dark-text
  opacity: 1
  @media ( max-width: 992px )
    width: 100%
  &::placeholder
    color: $dark-text
    opacity: 1
    font-size: 18px
    line-height: 24px
input[type=checkbox]
  display: none
  position: relative
.label-checkbox
  margin: auto
  display: flex
  max-width: 270px
  letter-spacing: 0.029em;
  &:before
    content: ''
    display: block
    width: 18px
    height: 18px
    background-color: $main
    // position: absolute
    margin-right: 10px
input.checkbox:checked + label:before
  content: url('../img/video/check.svg')
.section
  &__title
    +yeseva
    font-size: 27px
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
    color: $main
.block
  display: block
.maincolor-text
  color: $main
