.ham
  cursor: pointer
  transition: transform 400ms
  user-select: none
  display: none
  height: 60px
  z-index: 1
  @media ( max-width: 1200px )
    display: block
  @media ( max-width: 575px )
    position: absolute
    left: -8px
.line
  fill: none
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms
  stroke: $main
  stroke-width: 5
  stroke-linecap: round


.ham3 .top
  stroke-dasharray: 40 130;

.ham3 .middle
  stroke-dasharray: 40 140;

.ham3 .bottom
  stroke-dasharray: 40 205;

.ham3.active .top
  stroke-dasharray: 75 130;
  stroke-dashoffset: -63px;

.ham3.active .middle
  stroke-dashoffset: -102px;

.ham3.active .bottom
  stroke-dasharray: 110 205;
  stroke-dashoffset: -86px;


