
.navbar
  padding-top: 24px
  padding-bottom: 22px
  background-color: $black
  color: $white
  display: flex
  justify-content: space-between
  align-items: center
  overflow: hidden
  z-index: 2
  @media ( max-width: 1200px )
    padding-top: 6px
    padding-bottom: 6px
  @media ( max-width: 575px )
    position: relative
    padding-top: 24px
    padding-bottom: 22px
  &__logo
    text-transform: uppercase
    font-size: 14px
    color: $main
    margin-right: 97px
    text-decoration: none
    @media ( max-width: 1430px )
      margin-right: 61px
    @media ( max-width: 575px )
      margin-right: 30px
      margin-left: 35px
  &__menu
    display: flex
    padding: 0
    margin: 0
    list-style: none
    text-transform: uppercase
    +book
    font-size: 14px
    margin-right: auto
    z-index: 3
    @media ( max-width: 1200px )
      display: flex
      transform: translateX(-420px)
      transition: 0.3s ease-in-out
      position: fixed;
      flex-direction: column
      align-items: flex-start
      height: 100%
      top: 0
      left: 0
      background-color: $black
      width: 420px
      padding-left: calc( (100% - 832px) / 2)
      padding-top: 140px
      &.active
        transform: translateX(0px)
        transition: 0.3s ease-in-out
    @media ( max-width: 992px )
      padding-left: calc( (100% - 688px) / 2 )
    @media ( max-width: 768px )
      transform: translateX(-360px)
      width: 360px
      padding-left: calc( (100% - 539px) / 2 )
    @media ( max-width: 575px )
      transform: translateX(-320px)
      width: 320px
      padding-left: 68px
      padding-top: 120px
  &__phone
    margin-left: auto
    color: $main
    font-size: 14px
    line-height: 16px
    text-align: right
    text-decoration-line: none
    position: relative
    @media ( max-width: 575px )
      flex-shrink: 0
      color: $white
    &::after
      content: ''
      display: block
      position: absolute
      width: 100%
      height: 1px
      bottom: 0
      left: 0
      background-color: $main
      @media ( max-width: 575px )
        background-color: $white
    &:visited
      color: $main
      @media ( max-width: 575px )
        color: $white
    &:hover
      @media ( min-width: 993px )
        animation: swing 1s ease
        animation-iteration-count: 1
        color: darken($main, 10% )
  &__button
    margin-left: 45px
    margin-right: 1px
    @media ( max-width: 768px )
      display: none
.menu__item
  margin-right: 40px
  position: relative
  @media ( max-width: 1430px )
    margin-right: 20px
  @media ( max-width: 1200px )
    margin-bottom: 30px;
    margin-left: 18px;
  @media ( max-width: 575px )
    margin-left: 0
  &:hover
    @media ( min-width: 993px )
      color: $main
      cursor: pointer
      &:before, &:after
        opacity: 0.08
        transform: translateX(-50%) translateY(-50%) scale(1);
  &:before, &:after
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    border: 2px solid $main;
    border-radius: 50%;
    content: '';
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(-50%) translateY(-50%) scale(0.2);
    // @media ( max-width: 1430px )
    //   left: 9px
    // @media ( max-width: 1200px )
    //   left: 20px
  &:after
    width: 25px;
    height: 25px;
    border-width: 5px;
    -webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
    -moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
    transform: translateX(-50%) translateY(-50%) scale(0.8);